DB_DRIVER="postgresql+psycopg"
DB_USER="postgres"
DB_PASSWORD="example_password"
DB_HOST="localhost"
DB_PORT="5433"
DB_DATABASE="example_database"

POSTGRES_USER="postgres"
POSTGRES_PASSWORD="example_password"
POSTGRES_DATABASE="example_database"

PYTHONUNBUFFERED=1

# get from huggingface.co
HF_TOKEN="hf_token_example"
HF_HOME="/app/data/.cache/huggingface"

# disables xet use during downloads, may not be needed (set to 0 for off)
HF_HUB_DISABLE_XET=1

DATA_DIR="/app/data"
TEST_DATA_DIR="/app/test"

# get from google ai studio
GEMINI_API_KEY="example_gemini_api_key"

# used for remote sync tool, optional
LOCAL_SYNC_PATH="example/local/sync/path"
REMOTE_SYNC_URL="example_remote_sync_url"

# used for annotation app
HOST="example_host:port"
